<p>Φορείς Ελληνικού Δημοσίου</p>

<ag-grid-angular
  class="ag-theme-alpine"
  style="height:100%;width:100%"
  [rowData]="rowData$ | async"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [pagination]="true"
  [paginationPageSize]="50"
  [overlayLoadingTemplate]="overlayLoadingTemplate"
  [overlayNoRowsTemplate]="overlayNoRowsTemplate"
  (gridReady)="onGridReady($event)"
  rowSelection="multiple"
  (selectionChanged)="onSelectionChanged($event)"
  [isRowSelectable]="isRowSelectable" 
  (firstDataRendered)="onFirstDataRendered($event)"
>
</ag-grid-angular>