<mat-toolbar>
  <mat-toolbar-row>
    <button
      mat-icon-button
      *ngIf="sidenav.mode === 'over'"
      (click)="sidenav.toggle()"
    >
      <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
      <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button>
    Υπουργείο Εσωτερικών
    <span class="spacer"></span>
    <button mat-icon-button 
            class="example-icon favorite-icon" 
            matTooltip="Είσοδος"
            matTooltipPosition="left"
            aria-label="Button for login">
      <mat-icon>login</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <!-- left sidenav -->
  <mat-sidenav #left #sidenav="matSidenav" class="content" position="start">
    <mat-nav-list>
      <h4 matSubheader>Μενού επιλογών</h4>
      <a mat-list-item routerLink="/"><mat-icon>home</mat-icon> Αρχική</a>
      <a mat-list-item routerLink="/organizations">Φορείς</a>
      <a mat-list-item routerLink="/organization-units">Μονάδες</a>
    </mat-nav-list>
    <mat-divider></mat-divider>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
